.card{
  overflow: hidden;
  max-width: 340px;
  height: 670px;
  flex-direction: column;
  align-items: start;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.card__content{
  height: 414px;
  position: relative;
  padding: 25px;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  top: -8px;
}
.card__image{
  width: 100%;
  height: 256px;
  object-fit: cover;
}

.card__title{
  font-size: 29px;
  line-height: 28px;
  font-weight: bolder;
  margin-top: 11px;
}

.card__description{
  margin-top: 28px;
  font-size: 16px;
  font-weight: 600;
}

.card__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card__prices{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.prices__price{
  font-size: 28px;
}

.prices__discounted-price{
    font-size: 23px;
}

.prices__discount{
  margin-top: 5px;
  margin-bottom: 20px;
  
}


.prices__discount-prices{
  margin-bottom: 20px;
}